#id {
    visibility: hidden;
}

.logo {
    height: 20px;
    width: 20px;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

footer {
    position: relative;
    bottom: 0;
    left: 5%;
    margin-top: 1300px;
    margin-bottom: 50px;
}

.bi-search {
    margin-right: 15px;
}

.dropdown-menu-right {
    right: 20px;
}

h1 {
    color: white;
    position: absolute;
    left: 50px;
}

.titles {
    color: white;
    position: absolute;
    left: 40px;
    top: 150px;

}

.social {
    position: relative;
    right:-100px; 
    padding: 10px;
    margin-right: 30px;

    
}

a {
    text-decoration: none;
    color: grey;
}

nav {
    margin-bottom: 20px;
    
}

.dropdown {
    position: absolute;
    left: 225px;
    top: 6px;
}

.dropdown-menu {
    background-color: black;
   
}

.dropdown-item {
 color: white;
}

button {
    background-color: grey;
    border-radius: 5%;
}

.fa {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 40px;
    width: 20px;
}

.links {
    margin-bottom: 5px;
}

.title {
    color: rgb(236, 236, 236);
}

h4{
    position: relative;
    left: 80px ;
}

.genres-drop-down {
    position: absolute;
    top: 100px;
    left: 10px;
    display: flex;

}

.subtitle {
    position: relative;
    top: 50px;
    left: 50px;
    color: rgb(151, 146, 146);
}

form {
    position: relative;
    top: 50px;
    left: 50px;
    width: 600px;
    color: white;
}

.btn-primary {
    position: relative;
    top: 20px;
}

.btn-warning {
    visibility:hidden;
    z-index: 4;
    position: relative;
    bottom: 40px;
    left: 205px;
}


.form-group {
    position: relative;
    margin-top: 10px;
    
}

label {
    position: relative;
    margin-bottom: 5px;
}

.comedy {
    position: relative;
    top: 5px;
    left: -10px;
}

.fantasy {
    z-index: 1;
    position: relative;
    top: 10px;
    left: -10px;
}

.movie-row{
    margin-top:20px;
    margin-bottom:50px;
    margin-left: 25px;
    width: 100%;
    
}

.movie-cards {
    margin-right: 120px;
}
.movie-cover{
    width:280px;
    max-height: 180px;
    transition:0.3s;
    opacity: 0.7;
}

.movie-cover:hover{
    opacity: 1;
    transition:0.3s;
    cursor:pointer;
    transform:scale(1.05);
}



.carousel-control-next{
    margin-right:-4%;
}

.carousel-control-prev{
    margin-left:-8%;
}

.carousel-item {
    position: relative;
     display: block; 
    float: left;
    width: 110%;
    margin-right: 20px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}



.entry-div {
    position: relative;
    top: 100px;
    margin-left: 25px !important;
}


.btn-outline-danger {
    margin-left: 5px;
   
}

.btn-outline-primary {
    margin-top: 15px;
}

.category {
    position: relative;
    left: 25px;
}

.form-control {
    background-color: rgb(231, 231, 231);
}

.info {
    position: relative;
    z-index: 2;
    bottom: 15px;
    left: 5px;
    visibility: hidden;
    color: red;
}

.movie-cards:hover svg{
    visibility: visible;
    z-index: 2;
}

.movie-cards:hover a{
    visibility: visible;
    z-index: 2;
}

